<div class="container">
  <h1>Modifier le Post</h1>
  <form [formGroup]="form" (ngSubmit)="submit()">
    <div class="form-group">
      <label for="title">Titre:</label>
      <input id="title" formControlName="title" class="form-control">
      <div *ngIf="form.get('title')?.errors?.['required']" class="text-danger">
        Le titre est requis.
      </div>
    </div>
    <div class="form-group">
      <label for="body">Corps:</label>
      <textarea id="body" formControlName="body" class="form-control"></textarea>
      <div *ngIf="form.get('body')?.errors?.['required']" class="text-danger">
        Le corps est requis.
      </div>
    </div>
    <button type="submit" class="btn btn-primary">Enregistrer</button>
    <a routerLink="/post/index" class="btn btn-secondary">Annuler</a>
  </form>
</div>
